<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Restaurant Apps Starter Project</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Restaurant Apps Starter Project</h1>
  <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
  <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
  <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_4.jpg" width="450" alt="">
</body>
</html>
