header {
  display: flex;
  height: var(--app-bar-height);
  background-color: white;
  box-shadow: 0 2px 12px var(--app-bar-shadow-color);
  padding: 0 var(--content-padding);
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}
header .nav-toggle {
  border: none;
  padding: .5rem;
  background: none;
}
header .nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-toggle i.bx {
  font-size: 2rem;
  color: var(--primary-color);
}
header .nav-brand a {
  display: inline-block;
  font-weight: var(--font-medium);
  color: var(--primary-color);
  padding: 1rem;
  text-decoration: none;
}
header nav.nav-menu {
  position: fixed;
  top: calc(var(--app-bar-height) + 1rem);
  z-index: 9999;
  left: -100%;
  width: 80%;
  height: 100vh;
  padding: var(--content-padding);
  transition: all 350ms ease-in-out;

  /* Glassmorphism effect */
background: rgba(255, 255, 255, 0.842);
border-top-right-radius: 4px;
box-shadow: 0 4px 32px rgba(137, 137, 137, 0.237);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
header nav.open {
  left: 0;
}
header nav.nav-menu .nav-list .nav-item {
  list-style: none;
}
header nav.nav-menu .nav-list .nav-item a {
  display: block;
  padding: 1rem .5rem;
  transition: all 150ms ease-in-out;
}
header nav.nav-menu .nav-list .nav-item a.active,
header nav.nav-menu .nav-list .nav-item a:hover {
  color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  header {
    justify-content: space-between;
  }
  header nav.nav-menu {
    position: unset;
    width: inherit;
    height: unset;
    padding: unset;
    background: unset;
    border-radius: unset;
    box-shadow: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    transition: none;
  }
  header nav.nav-menu .nav-list {
    display: flex;
    width: inherit;
  }
  header nav.nav-menu .nav-list .nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  header .nav-toggle {
    display: none;
  }
}