custom-chips .container {
  max-width: var(--max-width-container);
  margin: auto;
}
custom-chips .container > p {
  font-weight: 400;
}
custom-chips .container > .title {
  margin-top: .5rem;
}
custom-chips .container > .chips-menu {
  overflow: auto;
  padding: .3rem;
  display: flex;
  justify-content: flex-start;
}
custom-chips .container > .chips-menu > span {
  flex: 0 0 auto;
  font-size: .7rem;
  padding: .35rem 1rem;
  background-color: rgb(230, 229, 229);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.062);
  border-radius: 1rem;
  text-align: center;
}
custom-chips .container > .chips-menu > span:not(:last-child) {
  margin-right: .5rem;
}