html {
  --primary-color: #A240E5;
  --teal-color: #f0692b;

  --app-bar-shadow-color: rgba(125, 136, 197, 0.13);

  --font-small: 300;
  --font-medium: 400;
  --font-large: 500;

  --app-bar-height: 4rem;
  --content-padding: 1rem;
}
h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0;
}
button { cursor: pointer; }
body {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body.drawer-open-mode{
  height: 100%;
  overflow: hidden;
}
#root {
  min-height: 95vh;
}
a {
  text-decoration: underline;
  color: inherit;
}

@media only screen and (min-width: 768px) {
  html {
    --content-padding: 2rem;
  }
}
