html {
  --primary-color: #A240E5;
  --teal-color: #f0692b;

  --app-bar-shadow-color: rgba(125, 136, 197, 0.13);

  --max-width-container: 920px;
  --max-width-hero-image: 1000px;
  --max-width-detail-image: 720px;

  --font-small: 300;
  --font-medium: 400;
  --font-large: 500;

  --app-bar-height: 4rem;
  --content-padding: 1rem;

  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0;
}
button { cursor: pointer; }
body {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
body.drawer-open-mode{
  height: 100%;
  overflow: hidden;
}
#root {
  min-height: 95vh;
}
a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
.skip-to-content-action {
  text-decoration: none;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 99999;
  padding: 1rem 1.2rem;
  background-color: var(--teal-color);
  border-bottom-right-radius: 4px;
  color: white;
}
.skip-to-content-action:focus {
  top: 0;
}

@media only screen and (min-width: 768px) {
  html {
    --content-padding: 2rem;
  }
}
